/* Page Banner */
.page-banner {
	height: 15px;
}

/* Navigation Bar Buttons */
li.nav-item {
	padding-right: 10px;
}

/* Modal PREAUTH */
.preauth {
	display: block;
}

/* Modal POSTAUTH */
.postauth {
	display: none;
}

/* Any input */
input {
	margin: 8px 0;
	padding: 8px 2px;
	display: block;
	border-width: 0 0 1px 0;
	width: 100%;
}